.wp-block-flare-hub-image-map-query {
	width: 100%;
	// Bug in wordpress prevents background-color
	// from coming from the default in block.json.
	background-color: #d1d1d1;
	overflow: hidden;

	.ol-viewport {
		min-height: inherit;
	}

	.layerswitcher-opacity {
		display: none;
	}

	.flare-marker-popup {
		max-width: 90%;
		max-height: 90%;

		.closeBox { // stylelint-disable-line selector-class-pattern
			position: absolute;
			right: 0;
			background-color: rgba($color: #000, $alpha: 0.6);
			border-radius: 50%;
			z-index: 20;

			&::after {
				line-height: 1.1;
			}
		}

		.ol-popup-content {
			position: relative;
			padding: 0;
			overflow: visible;

			>div {
				border-radius: 5px;
				box-shadow: 1px 1px 3px 1px rgba($color: #000, $alpha: 0.5);
				overflow: hidden;
				background-color: var(--wp--preset--color--white);
			}
		}

		&.ol-popup.hasclosebox .ol-popup-content {
			margin-right: 0;
		}

		/* stylelint-disable-next-line selector-class-pattern */
		&.ol-popup .closeBox {
			margin: 8px 12px;
		}

		@media screen and (max-width: 600px) {
			max-width: none;
			max-height: none;
			width: 100%;
			height: 100%;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) !important;
			margin: 0;
			background-color: rgba($color: #000, $alpha: 0.5);
			z-index: 999;

			>div {
				width: 100%;
				height: 100%;
			}

			.ol-popup-content {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;

				>div {
					width: 90%;
					height: 90%;
				}
			}

			/* stylelint-disable-next-line selector-class-pattern */
			&.ol-popup .closeBox {
				width: 36px;
				height: 36px;
				font-size: 28px;
				margin: 8px;
			}

		}

		@media screen and (min-width: 601px) {

			&.ol-popup.hasclosebox .ol-popup-content {
				margin-right: 0;
			}

			.anchor {
				position: absolute;
				bottom: 5px;
				transform: rotate(45deg);
				background-color: var(--wp--preset--color--white);
				border: 7px solid transparent;
				z-index: 10;
			}

			&.ol-popup-left {
				margin-left: -22px;

				.anchor {
					left: -6px;
				}
			}

			&.ol-popup-right {
				margin-left: 22px;

				.anchor {
					right: -7px;
				}
			}

			&.ol-popup-top {
				margin-top: 11px;

				.anchor {
					top: 4px;
					box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
				}
			}

			&.ol-popup-bottom {
				margin-top: -11px;

				.anchor {
					box-shadow: 2px 2px 2px rgba($color: #000, $alpha: 0.4);
				}
			}
		}
	}

	.flare-map-error {
		color: var(--wp--preset--color--vivid-red);
		padding: 2em;
		font-size: large;
	}
}
