{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting",
		"prettier"
	],
	  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json"]
      },
			      "alias": {
        "map": [
          ["common", "./app/common"]
        ],
        "extensions": [".js", ".jsx"]
      }
    },
		"jsdoc": { "mode": "typescript" }
  }
}
