@use "node_modules/reflex-grid/scss/reflex.scss";

.components-button {
	justify-content: center;

	&.short {
		width: 60px;
	}

	&.medium {
		width: 100px;
	}

	&.long {
		width: 150px;
	}

	&.full-width {
		width: 100%;
	}
}

.full-height {
	height: 100%;
}

@keyframes flare-spin {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
