.field {
	gap: 0;

	&.start {

		>div>label,
		:global(.components-base-control__label) {
			align-self: flex-start;
		}
	}

	&.center {

		>div>label,
		:global(.components-base-control__label) {
			align-self: center;
		}
	}

	>div {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;

		>label,
		>.label,
		>:global(.components-base-control__label) {
			flex: 0 0 100px;
			width: 100px;
		}

		>input,
		>textarea,
		>.input,
		>.map,
		>:global(.components-range-control__root) {
			flex: 1 1;
			width: 100%;
		}
	}

	&.iconGroup>div {
		flex-wrap: nowrap;

		:global(.components-toolbar) {
			flex-shrink: 1;
		}
	}
}

.row {
	margin-bottom: 4px;
}

.map {
	height: 400px;
	margin-bottom: 8px;
	border: 1px solid #757575;
	border-radius: 2px;
}

.right {
	text-align: right;
}

.alignColour {
	margin-bottom: 28px;
}

.marker {
	display: inline-block;
	font-size: 30px;
	width: 30px;
	height: 30px;
}
