.field {
	>div {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
	}

	label,
	.label,
	:global(.components-base-control__label) {
		flex: 0 1 100px;
	}

	input,
	textarea,
	.input {
		flex: 1 1 100px;
	}
}