.field {
	gap: 0;

	&.map {

		>div>label,
		:global(.components-base-control__label) {
			align-self: flex-start;
		}

		>div>:global(.leaflet-container) {
			border: 1px solid #757575;
			border-radius: 2px;
		}
	}

	&.center {

		>div>label,
		:global(.components-base-control__label) {
			align-self: center;
		}
	}

	>div {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;

		>label,
		>.label,
		>:global(.components-base-control__label),
		>:global(.components-custom-select-control) {
			flex: 0 0 100px;
			width: 100px;
		}

		>input,
		>textarea,
		>.input,
		>.map,
		>:global(.components-range-control__root) {
			flex: 1 1;
			width: 100%;
		}
	}

	&.iconGroup>div {
		flex-wrap: nowrap;

		:global(.components-toolbar) {
			flex-shrink: 1;
		}
	}
}

.row {
	margin-bottom: 4px;
}

.right {
	text-align: right;
}

.alignColour {
	margin-bottom: 28px;
}

.marker {
	display: inline-block;
	font-size: 30px;
	width: 30px;
	height: 30px;
}

.iconName {
	margin-left: 1em;
}

.select {
	> :global(.components-custom-select-control__menu) {
		min-width: auto;
		right: 0;
		left: 100px;
	}

	> :global(.components-flex) {
		flex: 1 1 0;
	}
}
