.tab {
	height: 100%;
}

.menu {
	height: 100%;
}

.menuItem {
	cursor: pointer;
}

.placeholder {
	height: 1.4em;
	width: 50%;
	background-color: #d1d1d1;
}

.empty {
	text-align: center;
}

.details {
	height: 100%;
}
