.pin {
	animation: pulse-black 1.2s;
	border: 2px solid var(--wp-admin-theme-color);
	background-color: rgba($color: white, $alpha: 0.7);
	padding: 4px;
	border-radius: 50%;
	transform: translate(-6px, -6px);
}

@keyframes pulse-black {
	0% {
		transform: scale(1) translate(-6px, -6px);
	}

	50% {
		transform: scale(1.5) translate(-6px, -6px);
	}

	100% {
		transform: scale(1) translate(-6px, -6px);
	}
}
