:global(#wpcontent) {
	background-color: white;
	padding: 0;
}

:global(#wpbody-content) {
	padding-bottom: 30px;
}

:global(#image-map) {
	min-height: calc(100vh - 32px);
	display: flex;
}

.app {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.title h1 {
	padding: 0;
	margin: .5rem 1rem;
	line-height: normal;
}

.tabPanel {
	flex: 1 0;
	display: flex;
	flex-direction: column;

	> :global(.components-tab-panel__tab-content) {
		flex: 1 0;
	}
}
