@import "~@wordpress/base-styles/colors";

:global(#wpcontent) {
	background-color: $white;
	padding: 0;
}

:global(#wpbody-content) {
	padding-bottom: 30px;
}

:global(#image-map) {
	min-height: calc(100vh - 32px);
	display: flex;
}

.app {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.title h1 {
	padding: 0;
	margin: 0.5rem 1rem;
	line-height: normal;
}

.tabPanel {
	flex: 0 0;
}

.notices {
	position: fixed;
	z-index: 999;
}

.notFound {
	margin: 1em;
}
