version: '3'

services:
  db:
    image: mariadb:latest
    env_file:
      - ../docker.env
    ports:
      - ${DB_PORT_MAP:-3306}:3306
    volumes:
      - db:/var/lib/mysql
      - ../wp-data:/docker-entrypoint-initdb.d

  wordpress:
    build:
      context: .
      dockerfile: wp.Dockerfile
    depends_on:
      - db
    env_file:
      - ../docker.env
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_CONFIG_EXTRA: >
        define( 'WP_SITEURL', 'http://localhost:${WP_PORT_MAP:-8080}' );
        define( 'WP_HOME', 'http://localhost:${WP_PORT_MAP:-8080}' );
        define( 'SCRIPT_DEBUG', !!getenv_docker('SCRIPT_DEBUG', '') );
        define( 'WP_DEBUG_LOG', !!getenv_docker('WP_DEBUG_LOG', '') );
        define( 'WP_DEBUG_DISPLAY', !!getenv_docker('WP_DEBUG_DISPLAY', '') );
        define( 'SAVEQUERIES', !!getenv_docker('SAVEQUERIES', '') );
        ${WORDPRESS_CONFIG_EXTRA}
    ports:
      - ${WP_PORT_MAP:-8080}:80
    volumes:
      - wordpress:/var/www/html
      - ..:/var/www/html/wp-content/${PROJECT_TYPE}s/${PROJECT_NAME}
      - ./php.conf.ini:/usr/local/etc/php/conf.d/conf.ini
    command: apache2-wpsetup

volumes:
  wordpress:
  db:
