.wp-block-flare-hub-image-map {
	width: 100%;

	.ol-viewport {
		min-height: inherit;
	}

	.layerswitcher-opacity {
		display: none;
	}

	.flare-marker-popup {
		width: 200px;
		max-width: 80%;

		>div {
			background-color: var(--wp--preset--color--white);
			border-radius: 5px;
			box-shadow: 1px 1px 3px 1px rgba($color: #000, $alpha: 0.5);
			overflow: hidden;
		}

		.ol-scroll {
			z-index: 20;
		}

		.closeBox { // stylelint-disable-line selector-class-pattern
			position: absolute;
			right: 0;
			background-color: rgba($color: #000, $alpha: 0.6);
			border-radius: 50%;
			z-index: 20;

			&::after {
				line-height: 1.1;
			}
		}

		.anchor {
			position: absolute;
			bottom: 5px;
			transform: rotate(45deg);
			background-color: var(--wp--preset--color--white);
			border: 7px solid transparent;
		}

		&.ol-popup-left {
			margin-left: -22px;

			.anchor {
				left: -6px;
			}
		}

		&.ol-popup-right {
			margin-left: 22px;

			.anchor {
				right: -7px;
			}
		}

		&.ol-popup-top {
			margin-top: 11px;

			.anchor {
				top: 4px;
				box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.3);
			}
		}

		&.ol-popup-bottom {
			margin-top: -11px;

			.anchor {
				box-shadow: 2px 2px 2px rgba($color: #000, $alpha: 0.4);
			}
		}

		.ol-popup-content {
			position: relative;
			padding: 0;
			width: 100%;
			max-height: 300px;
			overflow: overlay;
			scrollbar-width: thin;
			scrollbar-color: #a1a1a1 #f0f0f0;

			&::-webkit-scrollbar {
				background-color: transparent;
				width: 12px;
			}

			&::-webkit-scrollbar-button {
				display: none;
			}

			&::-webkit-scrollbar-track {
				background-color: #f0f0f0;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #a1a1a1;
				border: 2px solid transparent;
				border-radius: 6px;
				background-clip: content-box;
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: #7f7f7f;
			}
		}

		.flare-popup-thumbnail {
			width: 100%;
		}

		.flare-popup-desc {
			margin: 0.7rem 0.7rem 1rem 0.7rem;
		}

		.flare-popup-title {
			font-size: 1.2em;
		}

		.flare-popup-link {
			text-decoration: inherit;
			color: inherit;
		}

		.flare-popup-readmore {
			opacity: 0.5;
		}
	}

	.flare-map-error {
		color: var(--wp--preset--color--vivid-red);
		padding: 2em;
		font-size: large;
	}
}
