.wp-block-flare-image-map {
	width: 100%;

	.ol-viewport {
		min-height: inherit;
	}
}

.layerswitcher-opacity {
	display: none;
}

.flare-popup-thumbnail {
	float: left;
	width: 50%;
	margin: 0.5em;
}

.flare-marker-popup {
	width: 60%;
}