.field {
	gap: 0;

	&.map {

		>div>label,
		:global(.components-base-control__label) {
			align-self: flex-start;
		}
	}

	.border {
		border: 1px solid #757575;
		border-radius: 2px;
		margin-left: 1px;
		margin-right: 1px;
	}

	&.center {

		>div>label,
		:global(.components-base-control__label) {
			align-self: center;
		}
	}

	&.iconGroup>div {
		flex-wrap: nowrap;

		:global(.components-toolbar) {
			flex-shrink: 1;
		}
	}

	>div {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;

		>label,
		>.label,
		>:global(.components-base-control__label) {
			flex: 0 0 100px;
			width: 100px;
		}

		>input,
		>textarea,
		>hr,
		>.input,
		>:global(.components-range-control__root),
		>:global(.components-custom-select-control),
		>:global(.components-combobox-control__suggestions-container) {
			flex: 1 1;
			width: 100%;
		}


		.select {
			>label {
				display: none;
			}
		}

		.row {
			margin-bottom: 4px;
		}

		.alignColour {
			margin-bottom: 28px;
		}

		.marker {
			display: inline-block;
			font-size: 30px;
			width: 30px;
			height: 30px;
		}

		.iconName {
			margin-left: 1em;
		}
	}

	.featuredButtons {
		margin: 0 8px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.featured {
		align-self: flex-end;
	}

	&:global(.components-radio-control) {
		padding-top: 4px;

		>:global(.components-base-control__field)>div {
			margin-bottom: 8px;
		}
	}
}

.spacer {
	margin-bottom: 30px;
}

.divider {
	margin-bottom: 8px;
}
