.withSwitcher:global(.ol-control.ol-bar .ol-control.ol-layerswitcher) {
	overflow: visible;

	:global(.panel-container) {
		position: absolute;
		top: 100%;
		right: 100%;
		padding: 0.5em;
	}

	:global(.panel) {
		position: relative;
		display: block;
	}

	:global(.layerswitcher-opacity) {
		display: none;
	}
}

.canvas {
	min-height: inherit;
}
