@import "~@wordpress/base-styles/colors";

.colorSelect {
	display: flex;
}

.iconRow {
	align-items: center;

	.iconColBtn {
		flex-basis: 58px;
		display: flex;
		justify-content: center;

		.colorSelect {
			padding: 6px;
		}

		.iconBtn {
			height: 32px;
			min-width: 32px;
			padding: 3px;
		}
	}
}

.iconDropdown {
	width: 196px;
	margin: "0 1px";
	border: 0;

	>div {
		display: inline-block;
	}
}

.field {
	gap: 0;

	>div {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;

		>label,
		>.label {
			width: 140px;
		}

		>label,
		>.label,
		>:global(.components-base-control__label) {
			text-align: end;

			.plainLabel {
				text-align: right;
				margin-right: 30px;
			}

			.infoLabel {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 4px;
				margin-right: 6px;

				:global(.components-tooltip) {
					text-transform: none;
				}

				:global(.components-popover__content) {
					text-align: start;
				}
			}
		}

		>input,
		>textarea,
		>hr,
		>.input,
		>:global(.components-range-control__root),
		>:global(.components-custom-select-control),
		>:global(.components-combobox-control__suggestions-container) {
			flex: 1 1;
			width: 100%;
		}

		.row {
			margin-bottom: 6px;
		}

		.alignColour {
			margin-bottom: 28px;
		}

		.marker {
			display: inline-block;
			font-size: 30px;
			width: 30px;
			height: 30px;
		}

		.iconName {
			margin-left: 1em;
		}

		.input {
			padding: 4px;
		}
	}

	&.invalid {

		.input {
			padding: 3px;
		}

		input,
		textarea,
		.colorSelect,
		.imageSelect,
		.iconBtn,
		>div > .input,
		:global(.components-range-control__root), // stylelint-disable-line selector-class-pattern
		:global(.components-custom-select-control),
		:global(.components-combobox-control__suggestions-container) {
			border: 1px solid $alert-red;

			&:focus {
				outline-color: $alert-red;
			}
		}

		.input :focus-within {
			outline: 2px solid $alert-red;
		}
	}

	&.map {

		>div > label,
		:global(.components-base-control__label) {
			align-self: flex-start;
		}
	}

	.border {
		border: 1px solid #757575;
		border-radius: 2px;
		margin-left: 1px;
		margin-right: 1px;
	}

	&.center {

		>div > label,
		:global(.components-base-control__label) {
			align-self: center;
		}
	}

	&.iconGroup > div {
		flex-wrap: nowrap;

		:global(.components-toolbar) {
			flex-shrink: 1;
		}
	}

	.featuredButtons {
		margin-left: 8px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.featured {
		align-self: flex-end;
	}

	:global(.components-custom-select-control) {
		margin: 0 1px 8px 1px;

		>div {
			flex-grow: 1;
			width: auto;
		}
	}

	&:global(.components-radio-control) {
		padding-top: 4px;

		>:global(.components-base-control__field) > div {
			margin-bottom: 8px;
		}
	}

	.right {
		text-align: right;
	}
}

.spacer {
	margin-bottom: 30px;
}

.divider {
	margin-bottom: 8px;
}
