/* stylelint-disable selector-class-pattern */
.wp-block-flare-hub-image-map-query.wp-block {

	.components-placeholder__label .dashicon {
		margin-right: 1em;
	}

	.components-placeholder__fieldset {
		display: block;
	}

	.flare-marker-popup .closeBox::after {
		line-height: 0.8;
	}
}
