.container {
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #a1a1a1 #f0f0f0;

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 12px;
	}

	&::-webkit-scrollbar-button {
		display: none;
	}

	&::-webkit-scrollbar-track {
		background-color: #f0f0f0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #a1a1a1;
		border: 2px solid transparent;
		border-radius: 6px;
		background-clip: content-box;
	}

	&::-webkit-scrollbar-thumb:hover {
		background-color: #7f7f7f;
	}

	.image {
		width: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		margin: 0;

		img {
			width: 100%;
			min-height: 100%;
			object-fit: cover;
		}
	}

	.title {
		margin: 0;
		padding: 0;
		line-height: 1;
	}
}

:global(.ol-popup-content) {
	background-color: var(--wp--preset--color--white);
	border-radius: 5px;
	box-shadow: 1px 1px 3px 1px rgba($color: #000, $alpha: 0.5);
	overflow: hidden;
}
