:global(.flare-marker-popup) {

	.container {
		overflow: auto;
		scrollbar-width: thin;
		scrollbar-color: #a1a1a1 #f0f0f0;
		position: relative;
		z-index: 10;

		@media screen and (max-width: 600px) {
			max-width: none !important;
			max-height: none !important;
			width: 100%;
			height: 100%;
		}

		&::-webkit-scrollbar {
			background-color: transparent;
			width: 12px;
		}

		&::-webkit-scrollbar-button {
			display: none;
		}

		&::-webkit-scrollbar-track {
			background-color: #f0f0f0;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #a1a1a1;
			border: 2px solid transparent;
			border-radius: 6px;
			background-clip: content-box;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: #7f7f7f;
		}

		.image {
			width: 100%;
			overflow: hidden;
			display: flex;
			align-items: center;
			margin: 0;

			img {
				width: 100%;
				height: auto;
				min-height: 100%;
				object-fit: cover;
			}
		}

		.title {
			margin: 0;
			padding: 0;
			line-height: 1;
		}

		.readmore {
			opacity: 0.5;
		}
	}

	.link {
		text-decoration: inherit;
		color: inherit;
	}
}
